{% extends 'jobs/base.html' %}

{% block title %}

Detalle

{% endblock %}

  {% block left %}

          <br>
          <h1 class="text-success">Diseñador Gráfico - Egresado</h1>
          <h6 class="text-primary">Hace 1 día</h6>
          <h5>Dp audiovisual EIRL</h5>
          <br>
          <button type="button" class="btn btn-success btn-sm">Visitar web</button>
          <hr>

          <h2 class="text-success">Detalles</h2>
          <h4 class="text-info">Ciudad</h4>
          <p>Lima</p>
          <h4 class="text-info">Salario</h4>
          <p>A tratar</p>
          <h4 class="text-info">Descripción</h4>
          <h6>Requisitos :</h6>
          <ul>
            <li>Manejo de Adobe Illustrator y Photoshop.</li>
          </ul>
          <h6>Funciones :</h6>
          <ul>
            <li>Creativo en el desarrollo de artes.</li>
            <li>Amante de las tendencias.</li>
            <li>Que no tema proponer ideas nuevas.</li>
            <li>Manejo de diversos formatos en las redes sociales.</li>
            <li>Manejo de Adobe Illustrator, Photoshop, Premier y After.</li>
          </ul>
          <br>
          <h4 class="text-info">Tipo de Empleo</h4>
          <h6>Full Time</h6>
          <h4 class="text-info">Dirección</h4>
          <h6>Calle San Martin 818 Miraflores</h6>
          <br>
          <button type="button" class="btn btn-warning">Postular</button>

    {% endblock %}
