{% extends 'jobs/base.html' %}

{% block title %}

Detalle

{% endblock %}

  {% block left %}

          <br>
          <h1 class="text-success">{{ job.job_title_as_a_list }}</h1>
          <h6 class="text-primary">Hace 1 día</h6>
          <h5>Dp audiovisual EIRL</h5>
          <br>
          <button type="button" class="btn btn-success btn-sm">Visitar web</button>
          <hr>

          <h2 class="text-success">Detalles</h2>
          <h4 class="text-info">Ciudad</h4>
          <p>Lima</p>
          <h4 class="text-info">Salario</h4>
          <p>A tratar</p>
          <h4 class="text-info">Descripción</h4>
            <p>
            {{ job.description | default:"No especificado" }}
          <br>
          <h4 class="text-info">Tipo de Empleo</h4>
          <h6>{{ job.job_type }}</h6>
          <h4 class="text-info">Dirección</h4>
          <h6>{{ job.district }}</h6>
          <br>
          <button type="button" class="btn btn-warning">Postular</button>

    {% endblock %}
