{% extends 'jobs/base.html' %}

{% block title %}

Home

{% endblock %}

{% block header %}

<br>
<div class="container">

  <div class="jumbotron">
    <h1 class="display-3">Job Arts</h1>
    <p class="lead">Encuentra las mejores ofertas de empleo en el campo creativo completamente gratis.</p>
    <p class="lead">
      <a class="btn btn-success" href="#" role="button"> Más empleos </a>
    </p>
  </div>

</div>

{% endblock %}

{% block pagination %}
  <br>
  <div class="container">
    <button type="button" class="btn btn-danger">Ver más Empleos</button>
  </div>
{% endblock %}
