
<div class="container">
<br>
<form method='POST' action='/jobs/'>
  {% csrf_token %}
  <fieldset>
    <h4>Busca una oportunidad de empleo</h4>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <input class="form-control" type='text' name='title' placeholder="Ej: Diseñador Gráfico">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <select class="form-control" name='category' id="exampleSelect1" placeholder="Escoje un tipo">
            <option>Tiempo Completo</option>
            <option>Remoto</option>
            <option>Medio Tiempo</option>
            <option>Freelance</option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-warning">Filtrar</button>
      </div>
    </div>
  </fieldset>
</form>

</div>
