      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">

          <div class="row">
            <div class="col-sm-7">
              <h5 class="text-success">Diseñador Gráfico - Egresado</h5>
              <p>With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="col-sm-2">
              <h5>Lima</h5>
              <p>Surco</p>
            </div>
            <div class="col-sm-2">
              <h5>4 Oct</h5>
              <p>2020</p>
            </div>
            <div class="col-sm-1">
              <span class="badge badge-pill badge-danger">Full Time</span>
            </div>
          </div>

        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">

          <div class="row">
            <div class="col-sm-7">
              <h5 class="text-success">Diseñador Gráfico - Egresado</h5>
              <p>With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="col-sm-2">
              <h5>Lima</h5>
              <p>Surco</p>
            </div>
            <div class="col-sm-2">
              <h5>2 Oct</h5>
              <p>2020</p>
            </div>
            <div class="col-sm-1">
              <span class="badge badge-pill badge-info">Freelance</span>
            </div>
          </div>

        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">

          <div class="row">
            <div class="col-sm-7">
              <h5 class="text-success">Diseñador Gráfico - Egresado</h5>
              <p>With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="col-sm-2">
              <h5>Lima</h5>
              <p>Surco</p>
            </div>
            <div class="col-sm-2">
              <h5>1 Oct</h5>
              <p>2020</p>
            </div>
            <div class="col-sm-1">
              <span class="badge badge-pill badge-success">Part Time</span>
            </div>
          </div>

        </li>
      </ul>
